body{
  background-color:steelblue;
}

h2{
  text-align: center;
  padding-top: 15px;
}

header{
  background-color: seashell;
  text-align: center;
}

.item_card{
  width: 40%;
  background-color: seashell;
}

.item_desc{
  font-weight: bold;
  text-align: justify;
  padding: 10px;
  background-color:lightsteelblue;
}

.price{
  font-size: 25pt;
}

.actual_price{
  font-size: 18pt;
  color: gray;
}

.cart_button{
  width: 50%; 
}

